A {
    text-decoration: none;
}
A:active{
color: blue
}
h1{
    text-align: center
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Manrope:wght@300;500;700&family=Pacifico&family=Roboto+Slab:wght@100&display=swap');
@media (min-width: 312px) {
    .header-container{
        width: 100%;
    }
    .sale_section_block1,
    .sale_section_block2,
    .sale_section_block3,
    .sale_section_block4 {
        width: 25%;
    }
    .sets_section_block1,
    .sets_section_block2,
    .sets_section_block3,
    .sets_section_block4,
    .sets_section_block5
    {
        width: 25%;
    }
    .cooperation-section-cour,
    .cooperation-section-user{
        width: 25%;
    }
  }
  
  @media (min-width: 312px) and (max-width: 600px) {

    .header-container{
        flex-wrap: wrap;
    }
    .sale_section_block1,
    .sale_section_block2,
    .sale_section_block3,
    .sale_section_block4 {
        flex-wrap: wrap;
    }
    .sets_section_block1,
    .sets_section_block2,
    .sets_section_block3,
    .sets_section_block4,
    .sets_section_block5{
        flex-wrap: wrap;
    }
    .cooperation-section-cour,
    .cooperation-section-user{
        flex-wrap: wrap;
    }
  
    .header-container{
        width: 50%;
    }
    .sale_section_block1,
    .sale_section_block2,
    .sale_section_block3,
    .sale_section_block4 {
        width: 50%;
    }
    .sets_section_block1,
    .sets_section_block2,
    .sets_section_block3,
    .sets_section_block4,
    .sets_section_block5{
        width: 50%;
    }
    .cooperation-section-cour,
    .cooperation-section-user{
        width: 50%;
    }

    .header-container{
        width: 100%;
    }
    .sets_section_block1,
    .sets_section_block2,
    .sets_section_block3,
    .sets_section_block4,
    .sets_section_block5{
        width: 100%;
    }
    .sale_section_block1,
    .sale_section_block2,
    .sale_section_block3,
    .sale_section_block4{
        width: 100%;
    }
    .cooperation-section-cour,
    .cooperation-section-user{
        width: 100%;
    }
  }
  .header-container a{
    margin: 0 20px;
  }
  @media (max-width: 600px) {
    .header-container{
        flex-direction: center;
        align-items: center; 
    }
    .header-container a{
       margin: 50px 0;  
    }
    .sale_section_block1,
    .sale_section_block2,
    .sale_section_block3,
    .sale_section_block4 {
        flex-direction: column;
    }
    .sets_section_block1,
    .sets_section_block2,
    .sets_section_block3,
    .sets_section_block4,
    .sets_section_block5{
        flex-direction: column;
    }
    .cooperation-section-cour,
    .cooperation-section-user{
        flex-direction: column;
    }
  }

html, body{
    display: block;
    background-color: rgb(240, 238, 178);
    height: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
.header-container {
    padding: 10px;
    max-width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    background-color: rgb(137, 240, 124);
    border-bottom: 1px solid rgb(205, 50, 50);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
}
.image_sale{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.main_container {
    padding: 20px; 
}
.last_container{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
}
.sale_section_block1,
.sale_section_block2,
.sale_section_block3,
.sale_section_block4{
    display: inline-block;
    text-align: center;
    margin: 3px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}
.sale-section{
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}
.image_sale_rolls{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.sets-section{
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}
.sets_section_block1,
.sets_section_block2,
.sets_section_block3,
.sets_section_block4,
.sets_section_block5 {
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}
.cooperation{
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);

}
.image_bolt,
.image_user{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.cooperation-section-cour,
.cooperation-section-user {
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);

}
.registration-button {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.order-button{
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
}
.logo-container {
    display: flex;
    align-items: center;
}
#logo {
    margin-right: 10px; 
    float: right;
    cursor:pointer;
    width: 25px;
    height: 25px;
}
.blue-text {
    color: blue; 
}

#icon{
    float: right;
    cursor:pointer;
    width: 25px;
    height: 25px;
}
#popup-container {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}
.hidden {
    display: none;
}

