A {
    text-decoration: none;
}
A:active{
color: blue
}
h1{
    text-align: center
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@100&display=swap');
html, body{
    background-color: rgb(240, 238, 178);
    height: 100%;
    margin: 0; 
    padding: 0;
    font-family: 'Pacifico', sans-serif;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(137, 240, 124);
    border-bottom: 1px solid rgb(205, 50, 50);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    transition: font-size 0.5s ease;
    color: aqua;
}
.image_sale{
    width: auto;
    height: 250px;
}
.main_container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.sale_section_block{
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}
.sets_section_block{
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}
.cooperation-section{
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 10px; 
    color: #000000;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}
.order-button{
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.contacts{
    flex-direction: row;
    padding: 10px;
    background-color: rgb(253, 253, 253);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    transition: font-size 0.5s ease;
}
#logo {
    margin-right: 10px; 
}

.yellow-text {
    color: yellow; 
    margin-right: 0%;
    color: rgb(217, 255, 0);
}
.blue-text {
    color: blue; 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1229px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: var(--mainColor);
}
#icon{
    float: right;
    cursor:pointer;
    width: 25px;
    height: 25px;
}
#logo{
    float: right;
    cursor:pointer;
    width: 25px;
    height: 25px;
}
#popup-container {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}
.hidden {
    display: none;
}
@media screen and (min-width: 600px) {
    
}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1024px) {

}


@media screen and (min-width: 1200px) {

}
